<ion-header>
  <ion-toolbar class= "header" text-center  color="primary">
    <ion-title>Post Public Messages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="allPage" >
  <ion-card class="allPage" >
     <ion-card-content >
        <ion-textarea  placeholder="Enter Title" [(ngModel)]='title'></ion-textarea>
        <ion-textarea id="msg" placeholder="Enter Public Message"  [(ngModel)]='message'></ion-textarea>
        <ion-button shape="round" color="primary" (click)='PublishMessage()'>Publish</ion-button>
      </ion-card-content>
  </ion-card>
</ion-content>
