<ion-header>
  <ion-toolbar class= "header" text-center  color="primary">
    <ion-title >Trainer</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
   <div class="allPage">
        <button ion-button class="btn btn1"  (click)="messages()" >Messages</button>
        <button ion-button class="btn btn2"  (click)="gallery()" >Gallery</button>
        <button ion-button class="btn btn1"  (click)="Notifications()" >Notifications</button>
        <button ion-button class="btn btn2"  (click)="Schedule()">Schedule</button>
        <button ion-button class="btn btn1"  (click)="Register()">Register Trainnes</button>
        <button ion-button class="btn btn2" (click)="metrics()">Metrics</button>
    </div>
    
  </ion-content>
  