.allPage{
   
    background:rgb(131, 203, 255);
    color: black;
    text-emphasis-color: black;
    background:rgb(131, 203, 255);
    
 
   
    
}

.header{
    font-weight:bold; 
}



ion-content{

    --ion-background-color:rgb(131, 203, 255);
}
