<ion-header>
  <ion-toolbar>
    <ion-title>picDesc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-loading *ngIf="!post"></app-loading>

  <ion-card *ngIf="post as postData">
    <ion-img src="http://ucarecdn.com/{{pictureId}}/"></ion-img>
    <ion-card-content>
      <p>{{ postData.desc }}</p>
    </ion-card-content>
    <ion-item (click)="toggleHeart()">
      <ion-icon [name]="heartType" ></ion-icon> <div *ngIf="shownumOflikes" >  {{  numOfLikes }}</div>
    </ion-item>
  </ion-card>
</ion-content>
